<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
	<style>
        .profile {
            margin-top: 100px;
            text-align: center;
        }

        .profile img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-bottom: 20px;
        }

        .profile h2 {
            margin: 0;
        }

        .profile p {
            color: #555;
        }
	</style>
</head>
<body>
<div class="profile">
	<img th:src="${picture}" alt="Profile Image"/>
	<h2 th:text="${name}">User Name</h2>
	<p th:text="${email}">user@example.com</p>
</div>
</body>
</html>
